<!-- Was not sure whether to remove this or not because of application.css file
<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/css/index.css"/>
<% end %>
-->


<div id="header">
  <div id="title">
    Reddish
  </div>
  <div id="topics">
    <ul>
      <li><a href="/">All</a></li>
      <%# @categories.each do | category | %>
      <%# if params[:id] == category[0].to_s %>
        <%# category_class = 'selected' %>
      <%# end %>
      <li>
        <a class="<%# category_class %>" href="/categories/<%# category[1] %>/<%# category[0] %>">
            <%# category[1] %>Category Here
        </a>
      </li>
      <%# end %>
    </ul>
  </div>
  <div id="user-bar">
    <%# if @username %>
      <a href="/user/<%= @username %>"><%#= @username %></a> |
    <%# else %>
      <a href="/login">login</a> | <a href="/register">register</a> |
    <%# end %>
    <a href="">preference</a> | <a href="/logout">logout</a>
  </div>
</div>

<div id="panels">
  <div id="center-panel">
    <%# if @flash %>
      <div id="flash-msg"><%#= @flash %></div>
    <%# end %>
    <%# if params[:name] && params[:id] %>
        <div class="links">
          <%# if @category_links.size > 0 %>
            <%# @category_links.each_with_index do |link, index|%>
              <%# @index = index %>
              <%# @link = link %>
              <%#= erb :_link %>
            <%# end %>
          <%# else %>
            <p> Either this category does not exist, or there are no links in the category. </p>
          <%# end %>
        </div>
      <%# else %>
        <div class="links">
          <%# @links.each_with_index do |link, index|%>
            <%# @index = index %>
            <%# @link = link %>
            <%#= erb :_link %>
          <%# end %> 
        </div>
      <%# end %>
  </div>

  <div id="right-panel">
    <div id="submit-post">
      <form method="get" action="/links/new">
        <button class="post-button" type="submit">Submit a new link</button>
      </form>
    </div>
  </div>
</div>