<!DOCTYPE html>
<html>
<head></head>
<body>
  <h1>Welcome to Reddish!</h1>
  <p>
    Reddit sucks, and <a href="http://reddish.0-z-0.com">Reddish</a> is the
    new hip and happenin' thing.
  </p>
  <p> - The Reddish team </p> 
</body>
</html>