@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #FFFFFF;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0px;
}

#header {
  width: 100%;
  height: 41.5px;
  margin: 0px;
  border-bottom: 1px solid #5F99CF;
  background-color: #CEE3F6;
}

#title {
  padding-left: 25px;
  font-size: 35px;
  float: left;
}

#topics ul {
  float: left;
  padding-top: 23px;
  margin: 0px;
  list-style-type: none;
}

#topics ul li {
  display: inline;
  margin-left: 7px;
}

#topics ul li a {
  font-size: 12px;
  background-color: #eff7ff;
  border-bottom: 1px solid #5F99CF;
  color: #369;
  font-weight: bold;
  padding: 0px 5px;
  text-decoration: none;
}

#topics ul li a.selected {
  border: 1px solid #5F99CF;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
}

#user-bar {
  float: right;
  font-size: 14px;
  color: #369;
  margin-top:16px;
  height: 8px;
  background-color: #EFF5FB;
  border-right: 1px solid #CEE3F6;
  border-left: 1px solid #CEE3F6;
  border-top: 1px solid #CEE3F6;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 5px 15px 10px 15px;
}

.link-number {
  width: 26px;
  float: left;
  font-size: 20px;
  color: #A3A3A3;
  text-align: right;
}

.link-votes {
  cursor: pointer;
  float: left;
  font-size: 12px;
  margin: 0 4px;
}

.link {
  margin: 10px;
  padding: 10px;
  width: 75%;
  font-size: 20px;
  float: left;
}

.link-info {
  margin-left: 40px;
}

.link-title,
.link-title:visited {
  color: blue;
  text-decoration: none;
}
  
.details {
  font-size: 13px;
  color: #A3A3A3;
}

.field_with_errors {
  display: inline;
}

.register {
  padding: 8px; 
}

.error-message {
  margin-bottom: 15px;
}

.error-message .inner {
  padding: 8px;
}
